/* Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.mypic {
    width: 100%;
    height: 300px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('');
    background-position: center 30%;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #619196;
    color: white;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-content div {
    margin: 10px;
    flex: 1;
    min-width: 200px;
}

/* variables collor pallete */


/* Global */
section {
    padding: 50px 0 100px;
}

/* custom css */
.bg-lightblue {
    background: #B2D9EA !important;
}

.bg-poloblue {
    background: #84b4c8 !important;
}

.bg-darkcyan {
    background: #619196 !important;
}

.text-poloblue {
    color: #619196;
}

.border-lightblue {
    border: 2px solid #B2D9EA;
}

a.bg-lightblue:hover {
    background-color: #84b4c8;
}

a.border-lightblue:hover {
    border: 2px solid #619196 !important;
}

/* navigasi */
/* .navbar-nav .nav-item a {
    text-decoration: none !important;
} */

/* hero section */
#hero-section {
    background: #84b4c8;
    background-size: cover;
    height: 500px;
    position: relative;
    padding: 0;
}

#hero-section::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#hero-section .row {
    position: absolute;
    z-index: 1;
}

#hero-section h2 {
    margin-top: 100px;
    font-family: 'DM Sans', sans-serif;
}

#hero-section p {
    font-family: 'Outfit', sans-serif;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

/* logo landing page css */

.logo {
    margin-top: 85px;
    width: 80%;
    max-width: 230px;
    margin-left: 50px;
}

/* Visi & Misi css */
.rounded-box {
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

.visi-box {
    background-color: #619196;
    color: white;
}

.misi-box {
    background-color: #619196;
    color: white;
}

#visi-misi-section {
    background: #B2D9EA;
    background-size: cover;
}

#visi-misi-section h3 {
    font-family: 'Quicksand', sans-serif;
}

#visi-misi-section p {
    font-family: 'Outfit', sans-serif;
}

/* News/Blog css */
.img-wrapper {
    max-width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width:576px) {
    .carousel-inner {
        display: flex;
    }

    .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }

}

.carousel-inner {
    padding: 1em;
}

.card {
    margin: 0 .5em;
    border-radius: 0;
    box-shadow: 2px 8px 6px 0 rgba(22, 22, 26, 18);
}

.carousel-control-prev,
.carousel-control-next {
    width: 6vw;
    height: 6vw;
    background-color: #636363;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
}

.carousel-control-prev:hover,
.carousel-control-next {
    opacity: .8;
}

#blog-section h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

#blog-section {
    background: #ddd;
    background-size: cover;
}

.card-title a {
    color: black;
    text-decoration: none; /* Opsional: Menghapus garis bawah pada tautan */
}

/* .wave {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    line-height: 0;
}
.wave svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
} */

/* Profil css */
#section-profil {
    background: #B2D9EA;
    padding: 50px 0;
}

#section-profil h2 {
    font-family: 'Quicksand', sans-serif;
}

#section-profil p {
    font-family: 'Outfit', sans-serif;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

/* footer */
.footer {
    background-color: #619196;
    color: white;
    padding: 20px;
}

.footer h3 {
    font-family: 'Quicksand', sans-serif;

}

.footer h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;

}

.footer p {
    font-family: 'Outfit', sans-serif;
}

.footer a {
    color: white;
    text-decoration: none;
}


/* divisi organisasi */
#divisi {
    background-color: #ddd;
    padding: 80px 0;
}

#divisi h2 {
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}


#divisi .section-body-item {
    display: flex;
    background-color: #619196;
    border-radius: 5 px;
    padding: 20px;
    color: white;
    height: 200px;
    align-items: center;
}

#divisi .section-body-item h5 {
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
}

#divisi .section-body-item p {
    font-family: 'Outfit', sans-serif;
}

#divisi .section-body-item .icon {
    margin-top: 25px;
}

/* #divisi .section-body .row:first-of-type {
    margin-bottom: 30px;
} */
#divisi .section-body .col-md-4 {
    margin-bottom: 30px;
}

.text {
    background-color: white;
    font-family: 'Outfit', sans-serif;
    padding: 50px 0;

    display: flex;
    justify-content: center;
}

.inner-text {
    text-align: left;
}

.mycards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    flex: 1 1 calc(50% - 20px);
    max-width: 540px;
    box-sizing: border-box;
}

.card-sm {
    width: 18rem;
}

.text-rekomendasi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 0;
}

.inner-text-rekomendasi {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.card-rekomendasi {
    width: 300px;
    margin: 10px;
    text-align: center;
}

/* Blogs */
.blogs {
    position: relative;
    /* background-image: url(../static/img/mypbb.jpg); */
    width: 100%;
    height: 300px;
    background-position: center 30%;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.blogs::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.blogs .content {
    position: relative;
    text-align: center;
    z-index: 2;
}

.blogs h1 {
    font-family: 'DM Sans', sans-serif;
}

.blogs p {
    font-family: 'Outfit', sans-serif;
}

.text h2 {
    font-family: 'Quicksand', sans-serif;
}

#comments-section h4 {
    font-family: 'Quicksand', sans-serif;
}

.konseling {
    width: 100%;
    height: 500px;

    background-image: url(../static/img/KOnselig.jpg);
    background-position: center 30%;
    background-size: cover;

    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.konseling::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.konseling .content {
    position: relative;
    text-align: center;
    z-index: 2;
}

.konseling h3 {
    color: #00FFFF;
}

/* icon navbar admin */
.icon {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.icon h5 {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
}

.icon i {
    margin-right: 0.5rem;
}

/* sidebar admin */
.nav-column {
    margin-left: 20px;
}

.navbar-brand {
    font-family: 'DM Sans', sans-serif;
}

.custom-hr {
    border-top: 1px solid white;
}

.nav-link {
    font-family: 'Quicksand', sans-serif;
}

.nav-link i {
    margin-right: 10px;
}

.nav-link:hover {
    background-color: #619196;
}

.sidebar {
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    bottom: 0;
}

.main-content {
    margin-left: 16.666667%;
    padding: 20px;
}

.main-content h3 {
    font-family: 'DM Sans', sans-serif;
}

/* dashboard */
.font-weight-bold {
    font-weight: bold;
}

.card-body h5, .card-body .display-4 {
    color: white; 
    font-family: 'Quicksand', sans-serif;
}

.icon-white {
    color: white;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 50px;
    opacity: 0.4;
    font-size: 90px;
}

.custom-card {
    width: 200px; 
    padding: 15px; 
    margin-right: 15px; 
}

/* font navbar*/
.nav-link {
    font-family: 'DM Sans', sans-serif;
}