/* variables collor pallete */

/* Global */
section {
    padding: 50px 0 100px;
}

/* custom css */
.bg-lightblue {
    background: #B2D9EA !important;
}

.bg-poloblue {
    background: #84b4c8 !important;
}

.bg-darkcyan {
    background: #619196 !important;
}

.text-poloblue {
    color: #619196;
}

.border-lightblue {
    border: 2px solid #B2D9EA;
}

a.bg-lightblue:hover {
    background-color: #84b4c8;
}

a.border-lightblue:hover {
    border: 2px solid #84b4c8 !important;
}

/* navigasi */
/* .navbar-nav .nav-item a {
    text-decoration: none !important;
} */

/* hero section */
#hero-section {
    background: #84b4c8;
    background-size: cover;
    height: 500px;
    position: relative;
    padding: 0;
}

#hero-section::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#hero-section .row {
    position: absolute;
    z-index: 1;
}

#hero-section h2 {
    margin-top: 100px;
}

.logo {
    margin-top: 90px;
    width: 80%; 
    max-width: 300px;
}

